<div class="top">
  <h1 class="text-center text-green-500 text-6xl mt-40 mb-20">編み図を僭越ながら図形に例えました。</h1>
  <md-color-picker id="colorPicker" color-margin="6" colors-per-row="5" color-size="40" default-tint="500" fixedMinHeight="true" palette="material-full" use-spectrum-picker="true" value="#2196f3"></md-color-picker>

  <label><input class="fill4" type="color" id="fill4"></label>

  <label><input class="fill5" type="color" id="fill5"></label>

  <label><input class="fill6" type="color" id="fill6"></label>
</div>

<%= javascript_pack_tag 'top/show' %>
