<header>
  <nav class="flex items-center justify-between flex-wrap bg-green-200 p-6 h-18">
    <div class="block mr-4">
      <%= link_to root_path do %>
        <%= image_tag src='logo.png',width: "100",heght: "100"%>
      <%end%>
    </div>

    <div class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">
      <%= link_to "ログイン", login_path %>
    </div>
  </nav>
</header>
