<header class="header">
  <nav class="border-gray-200 px-4 lg:px-6 py-2.5 dark:bg-gray-800 my-auto bg-green-200">
    <div class="flex flex-wrap justify-between items-center mx-auto max-w-screen-xl">
      <div class="flex items-center">
        <%= link_to root_path do %>
          <%= image_tag src='logo.png', class: 'mr-3 h-6 w-6 sm:h-9'%>
        <%end%>
        <span class="self-center text-xl text-green-900 font-semibold whitespace-nowrap dark:text-white font-body">FOR CROCHET</span>
      </div>
      <div class="flex items-center lg:order-2">
        <button class="flex font-body text-gray-800 dark:text-white hover:bg-gray-50 focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:hover:bg-gray-700 focus:outline-none dark:focus:ring-gray-800">
          <%= link_to "ログイン", login_path %>
          <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
            <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
          </svg>
        </button>
        <div class="font-body text-white bg-green-700 hover:bg-green-800 focus:ring-4 focus:ring-green-300 font-medium rounded-lg text-sm px-4 lg:px-5 py-2 lg:py-2.5 mr-2 dark:bg-green-600 dark:hover:bg-green-700 focus:outline-none dark:focus:ring-green-800">
          <%= link_to "会員登録", new_user_path, method: :get %>
        </div>
      </div>
    </div>
  </nav>
</header>