<header class=" header bg-green-200 text-gray-600 body-font ">
  <div class="container mx-auto flex flex-wrap flex-col md:flex-row items-center">
    <div class="flex order-first lg:order-none lg:w-1/2 title-font items-center lg:items-center lg:justify-center mb-4 md:mb-0 my-1">
      <%= link_to root_path do %>
        <%= image_tag src='logo.png',width: "50",heght: "50"%>
      <%end%>
      <p class="ml-3 text-xl text-green-900 font-medium font-body">FOR CROCHET</p>
    </div>
    <div class="lg:w-2/5 inline-flex lg:justify-end ml-5 lg:ml-0">
      <button class="inline-flex items-center bg-green-100 border-0 py-1 px-3 focus:outline-none hover:bg-green-300 rounded text-base mt-4 md:mt-0">
        <%= link_to "ログイン", login_path %>
        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
        </svg>
      </button>
    </div>
  </div>
</header>