<div class="flex p-2 w-full justify-center space-x-20 font-body">
  <button class="w-32 h-32 bg-red-300 p-2 rounded-full hover:bg-red-400 text-white font-semibold">
    <%= link_to ("/posts/new") do %>
      投稿する
    <% end %>
  </button>
  <button class="w-32 h-32 bg-yellow-300 p-2 rounded-full hover:bg-yello-400 text-white font-semibold">
    <%= link_to ("/draw") do %>
      色を塗る
    <% end %>
  </button>
  <button class="w-32 h-32 bg-green-300 p-2 rounded-full hover:bg-green-400 text-white font-semibold">
    <%= link_to ("/posts") do %>
      投稿を見る
    <% end %>
  </button>
</div>
