.top {
  position: relative;
  height: 100vh;
}

.fill4 {
  height: 400px;
  width: 400px;
  border: solid 1px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.fill5 {
  height: 300px;
  border: solid 1px;
  width: 300px;
  position: absolute;
  /* top: 50%; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.fill6 {
    height: 200px;
    border: solid 1px;
    width: 200px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}
