
.square_outer1 {
  height: 400px;
  width: 400px;
  border: solid 1px;
}

.square_center2 {
  height: 300px;
  border: solid 1px;
  width: 300px;
  position: absolute;
}

.square_inner3 {
  height: 200px;
  border: solid 1px;
  width: 200px;
  position: absolute;
}
