
.square_outer {
  height: 400px;
  width: 400px;
}

.square_center {
  height: 300px;
  width: 300px;
  position: absolute;
}

.square_inner {
  height: 200px;
  width: 200px;
  position: absolute;
}
